/* WhatsAppButton.css */

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.whatsapp-button a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25d366; /* Color de WhatsApp */
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.whatsapp-button a:hover {
  background-color: #128c7e; /* Cambia de color al pasar el mouse */
}
