.containerImage img {
  border-radius: 20px;
  width: 600px;
}

.container p {
  color: white;
  margin: 20px;
  width: 90%;
  font-size: x-large;
}
.title {
  text-align: center;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding: 10px;
  margin: 20px;
  font-size: xx-large;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerHeader {
  background-color: orange;
}
