/* FormularioContactenos.module.css */

.formContainer {
  text-align: center;
  margin: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 38%;
  max-width: 100%;
  width: 70%;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.select {
  width: 100%;
  padding: 10px;
  margin: 5px 5px; /* Ajusta el margen según tus preferencias */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.form {
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formGroup {
  margin: 35px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.labelGroup {
  display: flex;
  align-items: center;
  flex-basis: 30%;
}

.inputGroup {
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #daa520;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  border: 1px solid black;
}

button:hover {
  background-color: #855f00;
}

@media (max-width: 750px) {
  .formContainer {
    width: 80%;
  }
}
