.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.inicio {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  border-left: 5px solid rgb(111, 214, 214);
  padding: 20px;
}

.inicio h2,
.inicio h3,
.inicio p {
  margin: 10px 0;
}

.inicio h2 {
  font-size: 24px;
}

.inicio p {
  font-size: 16px;
}

.inicio h3 {
  font-size: 20px;
}

.formulario {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 15px;
  color: black;
  background-color: rgb(16, 228, 228);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
  font-weight: 700;
  margin-bottom: 20px; /* Agregamos margen inferior para crear espacio */
}

.formulario div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.formulario input,
.formulario textarea {
  width: 100%;
}

.enviarConsulta {
  background-color: white;
  box-shadow: 2px 2px 5px black;
  border: none;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

.enviarConsulta:hover {
  background-color: aqua;
  border: none;
  box-shadow: 0px 0px 0px black;
}

.imagen {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 20px;
}

@media screen and (max-width: 860px) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .inicio {
    width: 100%;
    align-items: center;
  }

  .formulario {
    width: 100%;
  }

  .imagen {
    max-width: 100%;
  }
}

