/* Estilos generales para toda la página */
body {
  background-color: #333;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden; /* Evitar la barra de desplazamiento horizontal en dispositivos móviles */
}

/* Estilos para el contenedor principal */
.container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 100%; /* El contenedor se ajustará al ancho del dispositivo */
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para la imagen */
.image {
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  border-radius: 10px;
  display: block;
}

/* Estilos para el título */
.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos para el párrafo */
.paragraph {
  font-size: 25px;
  text-align: start;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

/* Estilos para el botón de llamada a la acción (CTA) */
.button {
  display: inline-block;
  width: 300px;
  padding: 20px;
  background-color: #00b8d8;
  color: rgb(22, 21, 77);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: 800;
  font-size: 20px;
  text-decoration: underline;
  box-shadow: 5px 5px 10px black;
  transition: 1s;
}

.button:hover {
  background-color: #16c6ee;
  color: rgb(9, 9, 37);
  box-shadow: 0px 0px 0px;
}

.heroSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.945);
  height: 80vh;
}

.heroSection img {
  border-radius: 20px;
  box-shadow: 2px 2px 20px black;
  width: 400px;
  height: 395px;
}
